.button{
    display:flex;
    height:4em;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: black;

}
.operator {
    display:flex;
    height:4em;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 194, 174);
    color: white;
}