h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.App{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-top: 5em;
}

.calc-wrap{
    width:600px;
    height:800px;
}

.row{
    display: flex;
    width: 100%;
}