h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.App{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-top: 5em;
}

.page-wrap{
    width:600px;
    height:800px;
}

.calc-wrap{
    background-color: rgb(116, 116, 116);
    border-radius: 12px;
}

.row{
    display: flex;
    width: 100%;
}

.result{
    display: flex;
    height: 4em;
    flex:1;
    background-color: black;
    color: white;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold ;
    overflow: scroll;
    border-radius: 12px;
}

.memory{
    height: 5em;
    flex:1;
    background-color: rgb(221, 215, 215);
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    font-weight: bold ;
    width:50%;
    margin:auto;
    border-radius: 12px;
}

.memoryTitle{
    display: flex;
    width:100%;
    justify-content: center;
    align-content: flex-start;
    color:black;
}

.memoryValue{
    display: flex;
    width:100%;
    justify-content: center;
    align-content: center;
    color:black;
}